@page "/reports"
    <h1>AdminPage</h1>
    <h3>ReportsPage</h3>
    <div class="tabs">
    <ul>
        <li  class="is-active"><a   href="/reports"> Reports</a></li>
        <li > <a href="/selectie"> Selectie </a></li>
    </ul>
    </div>


    @code {

    }
