@page "/selectie"
<h1>AdminPage</h1>
<h3>Selectiepage</h3>
<div class="tabs">
    <ul>
        <li><a  href="/reports"> Reports</a></li>
        <li class="is-active"> <a > Selectie </a></li>
    </ul>
</div>
@code {

}
